header {
  width: 1280px; }

ul li a {
  color: #000000; }

/* extends */
footer {
  background-color: #2b2b2b; }

/* mixin */
.descripcionTexto {
  text-align: center;
  padding-bottom: 5px; }

/* media queries */
header {
  display: grid;
  grid-area: header;
  width: 100%; }
  header .contenedorLogo {
    grid-area: header; }
  header .contenedorLogo .logo {
    font-style: normal;
    font-size: 140px;
    color: #000000; }
  header .contenedorLogo .sub {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
    text-align: center;
    margin-top: 13px; }

.gridProductos {
  display: grid;
  grid-template-areas: "nav nav" "header header" "main main" "footer footer";
  grid-template-columns: 100%;
  grid-template-rows: 15% 30% 80% 26%;
  height: 100vh; }

header {
  display: grid;
  grid-area: header;
  width: 100%; }
  header .contenedorProductos {
    grid-area: header; }
  header .contenedorProductos .logoProductos {
    font-style: normal;
    font-size: 100px;
    color: #000000; }
  header .contenedorProductos .sub {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
    text-align: center;
    margin-top: 13px; }

/*
body{
    background-color: $color-principal;
}
    .grid{
        display: grid;
        grid-template-areas:
                            "nav nav"
                            "header header"
                            "main main"
                            "footer footer";
        grid-template-columns: 100%;
        grid-template-rows: 15% 30% 80% 25%;
        height: 100vh;
    }


nav{
    display: grid;
    grid-area: nav;
    background-color: #f5f0e2;
    height: 80px;
    }
        .navContainer{
            display: flex;
            height: 100%;
            width: 80%;
            margin: 0 auto;
            justify-content: space-around;
            align-items: center;
        }
            .navMenu{
                display: grid;
                grid-auto-flow: column;
                gap: 15em;
                list-style: none;
                }
                .navItem{
                    font-family: Roboto, sans-serif;
                    text-decoration: none;
                    color: black;
                }
                    .navLabel, .navInput{
                        display: none;
                    }
    
header{
    width: 68vh;
    .contenedorProductos {
        grid-area: header;
        padding: 1px; 
    }
        .contenedorProductos .logoProductos {
          text-align: center;
          font-family: serif;
          font-size: 150px;
          color: #000000; 
          }
    }

main{
    .container{ 
        width: 100%;
        padding: 15%;
    }
}

*/
/*navbar*/
nav {
  display: grid;
  grid-area: nav;
  background-color: #f5f0e2;
  height: 80px; }

.navContainer {
  display: flex;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center; }

.navMenu {
  display: grid;
  grid-auto-flow: column;
  gap: 15em;
  list-style: none; }

.navItem {
  font-family: Roboto, sans-serif;
  text-decoration: none;
  color: black; }

.navLabel, .navInput {
  display: none; }

/*header*/
header {
  display: grid;
  grid-area: header;
  width: 100%; }
  header .contenedorLogo {
    grid-area: header; }
  header .contenedorLogo .logo {
    font-style: normal;
    font-size: 140px;
    color: #000000; }
  header .contenedorLogo .sub {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
    text-align: center;
    margin-top: 13px; }

/*menu desplegable*/
@media screen and (max-width: 700px) {
  .navMenu {
    background-color: #313131;
    position: fixed;
    top: 80px;
    bottom: 0;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out; }
  .navInput:checked + .navMenu {
    clip-path: circle(100% at center); }
  .navLabel {
    display: block;
    cursor: pointer; }
  .navItem {
    color: #e9e9e9;
    text-transform: uppercase; }
  /*subMenu*/
  .subMenu {
    position: absolute;
    background-color: #f6f3eb;
    display: none;
    width: 9%; }
    .subMenu li a {
      display: block;
      color: #363636;
      font-size: 12px;
      font-family: Roboto, sans-serif;
      text-decoration: none; }
  .navMenu li:hover .subMenu {
    display: block;
    padding: 5px; } }

/*subMenu*/
.subMenu {
  position: absolute;
  background-color: #f6f3eb;
  display: none;
  width: 9%; }
  .subMenu li a {
    display: block;
    color: #363636;
    font-size: 12px;
    font-family: Roboto, sans-serif;
    text-decoration: none; }

.navMenu li:hover .subMenu {
  display: block;
  padding: 5px; }

header .logoNosotros {
  display: flex;
  padding: 2px;
  align-content: center; }
  header .logoNosotros .logo {
    text-align: center;
    font-size: 150px;
    padding-left: 17%; }
  header .logoNosotros .sub {
    position: absolute;
    text-align: center;
    font-size: 18px;
    padding: 15% 0% 0% 46%; }
  header .logoNosotros .titleBackround {
    position: absolute;
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
    font-size: 15px;
    padding: 2.5% 10% 0% 9%;
    color: #2b2b2b; }

main {
  display: grid;
  grid-area: main;
  margin: 0 auto; }
  main .nosotrosTextWrap {
    justify-content: space-between; }
    main .nosotrosTextWrap .nosotrosText {
      text-align: center;
      font-size: 45px;
      padding-top: 13%; }
  main .nosotrosImg {
    float: left;
    width: 420px;
    height: 500px; }

.gridContacto {
  display: grid;
  grid-template-areas: "nav " "header" "main" "footer";
  grid-template-columns: 100%;
  grid-template-rows: 10% 35% 55% 26%;
  height: 100vh;
  background: #494949;
  background: linear-gradient(0deg, #494949 0%, #f5f0e2 100%); }

header {
  display: grid;
  grid-area: header;
  width: 100%; }
  header .contenedorLogo {
    grid-area: header; }
  header .contenedorLogo .logo {
    font-style: normal;
    font-size: 140px;
    color: #000000; }
  header .contenedorLogo .sub {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
    text-align: center;
    margin-right: 23%; }

nav {
  grid-area: nav; }
  nav .navBarContacto {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%; }
  nav ul {
    list-style: none; }
  nav ul li a {
    color: #000000;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase; }
  nav a:hover {
    border-bottom: 2px solid #c2a661;
    color: #000000; }

form {
  display: grid;
  grid-area: main;
  justify-content: center;
  width: 100%; }
  form .form-outline {
    text-align: center; }
  form .btn {
    height: 55%;
    background-color: black; }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #ffffff; }

.grid {
  display: grid;
  grid-template-areas: "nav nav" "header header" "main main" "footer footer";
  grid-template-columns: 100%;
  grid-template-rows: 15% 30% 80% 25%;
  height: 100vh; }

/*navbar*/
nav {
  display: grid;
  grid-area: nav;
  background-color: #f5f0e2;
  height: 80px; }

.navContainer {
  display: flex;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center; }

.navMenu {
  display: grid;
  grid-auto-flow: column;
  gap: 15em;
  list-style: none; }

.navItem {
  font-family: Roboto, sans-serif;
  text-decoration: none;
  color: black; }

.navLabel, .navInput {
  display: none; }

/*menu desplegable*/
@media screen and (max-width: 700px) {
  .navMenu {
    background-color: #313131;
    position: fixed;
    top: 80px;
    bottom: 0;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out; }
  .navInput:checked + .navMenu {
    clip-path: circle(100% at center); }
  .navLabel {
    display: block;
    cursor: pointer; }
  .navItem {
    color: #e9e9e9;
    text-transform: uppercase; }
  /*subMenu*/
  .subMenu {
    position: absolute;
    background-color: #f6f3eb;
    display: none;
    width: 9%; }
    .subMenu li a {
      display: block;
      color: #363636;
      font-size: 12px;
      font-family: Roboto, sans-serif;
      text-decoration: none; }
  .navMenu li:hover .subMenu {
    display: block;
    padding: 5px; } }

/*subMenu*/
.subMenu {
  position: absolute;
  background-color: #f6f3eb;
  display: none;
  width: 9%; }
  .subMenu li a {
    display: block;
    color: #363636;
    font-size: 12px;
    font-family: Roboto, sans-serif;
    text-decoration: none; }

.navMenu li:hover .subMenu {
  display: block;
  padding: 5px; }

/*main*/
main {
  grid-area: main; }
  main .mainWrap {
    display: grid;
    grid-template-columns: 30% 70%; }
  main .tituloMain1 {
    padding-bottom: 10%;
    align-self: center; }
  main .tituloMain2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 5px; }
  main .subrayado {
    width: 60px;
    height: 2px;
    margin: 0 auto;
    background-color: #c2a661; }
  main .mainImage {
    width: 690px;
    height: 420px; }
  main .descripcionWrap {
    display: grid;
    grid-template-rows: 85% auto;
    justify-items: center; }
  main .descripcionTexto {
    font-style: italic;
    font-size: 13px; }

/*footer*/
.footerHome {
  display: flex;
  justify-content: center;
  grid-area: footer; }
  .footerHome .redesIconos {
    display: flex;
    padding: 20px;
    margin-top: 8px;
    justify-content: center;
    justify-content: space-around; }
  .footerHome .redesIconos a {
    background: #181815;
    border-radius: 50%;
    text-decoration: none;
    font-size: 28px;
    color: white;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 58px;
    cursor: pointer;
    transition: 0.5s all;
    margin: 11px; }
  .footerHome .redesIconos a:hover {
    transform: scale(1.2); }
  .footerHome .copyright {
    text-align: center;
    color: antiquewhite;
    margin: 5px; }

/*media queries*/
/*phone*/
@media screen and (max-width: 440px) {
  body .grid {
    grid-template-areas: "nav" "header" "main" "footer";
    grid-template-rows: 15% 10% 60% 20%;
    height: 100vh; }
  header {
    display: grid;
    grid-area: header;
    width: 80%; }
    header .contenedorLogo {
      grid-area: header; }
    header .contenedorLogo .logo {
      font-style: normal;
      font-size: 60px;
      color: #000000;
      margin-bottom: 5%; }
    header .contenedorLogo .sub {
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
      font-style: italic;
      text-align: center;
      margin-top: 13px; }
  main .mainWrap {
    grid-template-columns: auto; }
  /*main*/
  main {
    grid-area: main; }
    main .mainWrap {
      display: grid;
      width: 100%; }
    main .tituloMain1 {
      padding-bottom: 10%;
      align-self: center; }
    main .tituloMain2 {
      text-align: center;
      font-size: 30px;
      margin-bottom: 5px; }
    main .subrayado {
      width: 60px;
      height: 2px;
      margin: 0 auto;
      background-color: #c2a661; }
    main .imageWrap {
      padding-top: 0; }
    main .mainImage {
      width: 300px;
      height: 230px; }
    main .descripcionWrap {
      display: grid;
      height: 80%;
      justify-items: center; }
    main .descripcionTexto {
      font-style: italic;
      font-size: 13px; } }

/* tablet */
@media screen and (max-width: 750px) and (min-width: 600px) {
  body {
    background-color: #ffffff; }
  .grid {
    display: grid;
    grid-template-areas: "nav" "header" "main" "footer";
    grid-template-columns: 100%;
    grid-template-rows: 15% 15% 60% 15%;
    height: 100vh; }
  header {
    display: grid;
    grid-area: header; }
    header .contenedorLogo {
      grid-area: header; }
    header .contenedorLogo .logo {
      font-style: normal;
      font-size: 120px;
      color: #000000; }
    header .contenedorLogo .sub {
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
      font-style: italic;
      text-align: center;
      margin-top: 13px; }
  /*main*/
  main {
    grid-area: main; }
    main .mainWrap {
      display: grid;
      width: 100%; }
    main .tituloMain1 {
      padding-bottom: 10%;
      align-self: center; }
    main .tituloMain2 {
      text-align: center;
      font-size: 30px;
      margin-bottom: 5px; }
    main .subrayado {
      width: 60px;
      height: 2px;
      margin: 0 auto;
      background-color: #c2a661; }
    main .imageWrap {
      padding-top: 10%; }
    main .mainImage {
      width: 480px;
      height: 300px; }
    main .descripcionWrap {
      display: grid;
      height: 80%;
      justify-items: center; }
    main .descripcionTexto {
      font-style: italic;
      font-size: 13px; } }
