header .contenedorLogo {
  grid-area: header;
  padding: 1px; }

header .contenedorLogo .logo {
  text-align: center;
  font-style: normal;
  font-size: 150px;
  color: #000000; }

header .contenedorLogo .sub {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-style: italic;
  text-align: center;
  margin-top: 13px; }

footer .footerHome {
  display: flex;
  justify-content: center;
  grid-area: footer; }

footer .footerHome .redesIconos {
  display: flex;
  padding: 25px;
  margin-top: 8px;
  justify-content: center;
  justify-content: space-around; }

footer .footerHome .redesIconos a {
  background: #181815;
  border-radius: 50%;
  text-decoration: none;
  font-size: 28px;
  color: white;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 58px;
  cursor: pointer;
  transition: 0.5s all; }

footer .footerHome .redesIconos a:hover {
  transform: scale(1.2); }

footer .footerHome .copyright {
  text-align: center;
  margin: 5px; }

header {
  width: 1280px; }

ul li a {
  color: #000000; }

.navBar {
  background-color: #f6f3eb; }

/* extends */
footer {
  background-color: #f6f3eb; }

/* mixin */
.descripcionTexto {
  text-align: center;
  padding-bottom: 5px; }

.gridProductos {
  display: grid;
  grid-template-areas: "nav nav" "header header" "main main" "footer footer";
  grid-template-columns: 100%;
  grid-template-rows: 10% 30% 105% 20%;
  height: 100vh; }

header .contenedorProductos {
  grid-area: header;
  padding: 1px; }

header .contenedorProductos .logoProductos {
  text-align: center;
  font-family: serif;
  font-size: 150px;
  color: #000000; }

main .container {
  width: 100%;
  padding: 15%; }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #ffffff; }

.grid {
  display: grid;
  grid-template-areas: "nav nav" "header header" "main main" "footer footer";
  grid-template-columns: 100%;
  grid-template-rows: 10% 9% 75% 20%;
  height: 100vh; }

.contenedorLogo {
  grid-area: header;
  padding: 8px; }
  .contenedorLogo .logo {
    text-align: center;
    color: black; }
  .contenedorLogo .sub {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
    text-align: center;
    color: black; }

/*navbar*/
nav {
  grid-area: nav; }
  nav .navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%; }
  nav ul {
    list-style: none; }
  nav ul li a {
    color: #000000;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase; }
  nav a:hover {
    border-bottom: 2px solid #c2a661;
    color: #000000; }

/*subMenu*/
.subMenu {
  position: absolute;
  background-color: #f6f3eb;
  display: none;
  width: 9%; }
  .subMenu li a {
    display: block;
    padding: 10px;
    color: #363636;
    font-size: 12px;
    text-decoration: none; }

.navBar li:hover .subMenu {
  display: block;
  padding: 5px; }

/*main*/
main {
  grid-area: main;
  width: 85%;
  justify-self: center; }
  main .mainWrap {
    display: grid;
    height: 100%;
    grid-template-columns: 25% 70%; }
  main .tituloMain1 {
    align-self: center; }
  main .tituloMain2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px; }
  main .subrayado {
    width: 60px;
    height: 2px;
    margin: 0 auto;
    background-color: #c2a661; }
  main .descripcionWrap {
    margin-top: 1%;
    align-self: flex-end; }
  main .mainImage {
    margin-left: 12%;
    width: 595px;
    height: 330px; }
  main .descripcionTexto {
    font-style: italic;
    font-size: 15px; }
  main .titleBackround {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    font-size: 17px; }

/*footer*/
.footerHome {
  display: flex;
  justify-content: center;
  grid-area: footer; }
  .footerHome .redesIconos {
    display: flex;
    padding: 20px;
    margin-top: 8px;
    justify-content: center;
    justify-content: space-around; }
  .footerHome .redesIconos a {
    background: #181815;
    border-radius: 50%;
    text-decoration: none;
    font-size: 28px;
    color: white;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 58px;
    cursor: pointer;
    transition: 0.5s all; }
  .footerHome .redesIconos a:hover {
    transform: scale(1.2); }
  .footerHome .copyright {
    text-align: center;
    margin: 5px; }
