@import "base/variables";
@import "base/operaciones";
@import "base/maps";
@import "base/extends";
@import "base/mixin";
@import "components/header";
@import "components/productos";
@import "components/nosotros";
@import "components/contacto";

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: $color-principal;
}
    .grid{
        display: grid;
        grid-template-areas:
                            "nav nav"
                            "header header"
                            "main main"
                            "footer footer";
        grid-template-columns: 100%;
        grid-template-rows: 15% 30% 80% 25%;
        height: 100vh;
    }

/*navbar*/
nav{
    display: grid;
    grid-area: nav;
    background-color: #f5f0e2;
    height: 80px;
    }
        .navContainer{
            display: flex;
            height: 100%;
            width: 80%;
            margin: 0 auto;
            justify-content: space-around;
            align-items: center;
        }
            .navMenu{
                display: grid;
                grid-auto-flow: column;
                gap: 15em;
                list-style: none;
                }
                .navItem{
                    font-family: Roboto, sans-serif;
                    text-decoration: none;
                    color: black;
                }
                    .navLabel, .navInput{
                        display: none;
                    }
            

/*menu desplegable*/
@media screen and (max-width: 700px){

.navMenu{
    background-color: rgb(49, 49, 49);
    position: fixed;
    top:80px;
    bottom: 0;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out;
    }
        .navInput:checked + .navMenu{
            clip-path: circle(100% at center);
        }
            .navLabel{
                display: block;
                cursor: pointer;
            }
                .navItem{
                    color: #e9e9e9;
                    text-transform: uppercase;

                }

    /*subMenu*/
    .subMenu{
        position: absolute;
        background-color: #f6f3eb;
        display: none;
        width: 9%;
            li a{
                display: block;
                color: rgb(54, 54, 54);
                font-size: 12px;
                font-family: Roboto, sans-serif;
                text-decoration: none;
            }
    }
            .navMenu li:hover .subMenu{
                display: block;
                padding: 5px;
            }
    
}


/*subMenu*/
.subMenu{
    position: absolute;
    background-color: #f6f3eb;
    display: none;
    width: 9%;
        li a{
            display: block;
            color: rgb(54, 54, 54);
            font-size: 12px;
            font-family: Roboto, sans-serif;
            text-decoration: none;
        }
}
        .navMenu li:hover .subMenu{
            display: block;
            padding: 5px;
        }

/*main*/
main{
    grid-area: main;
    .mainWrap{
        display: grid;
        grid-template-columns: 30% 70%;
    }
    .tituloMain1{
        padding-bottom: 10%;
        align-self: center;
    }
    .tituloMain2{
        text-align: center;
        font-size: 30px;
        margin-bottom: 5px;
    }
    .subrayado{
        width: 60px;
        height: 2px;
        margin: 0 auto;
        background-color: #c2a661;
    }
    .mainImage{
        width: 690px;
        height: 420px;
    }
    .descripcionWrap{
        display: grid;
        grid-template-rows: 85% auto;
        justify-items: center;
    }
    .descripcionTexto{
        font-style: italic;
        font-size: 13px;
    }
}

/*footer*/
.footerHome{
    display: flex;
    justify-content: center;
    grid-area: footer;
    .redesIconos{
        display: flex;
        padding: 20px;
        margin-top: 8px;
        justify-content: center;
        justify-content: space-around;
    }
    .redesIconos a{
        background: #181815;
        border-radius: 50%;
        text-decoration: none;
        font-size: 28px;
        color: white;
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 58px;
        cursor: pointer;
        transition: 0.5s all;
        margin: 11px;
    }
    .redesIconos a:hover{
        transform: scale(1.2);
    }
    .copyright{
        text-align: center;
        color: antiquewhite;
        margin: 5px;
    }
}

/*media queries*/
/*phone*/

@media screen and (max-width: 440px){
    
    body{
        .grid{
            grid-template-areas:
                                "nav"
                                "header"
                                "main"
                                "footer";
            grid-template-rows: 15% 10% 60% 20%;
            height: 100vh;
            }
    }
    
    header{
        display: grid;
        grid-area: header;
        width: 80%;
        .contenedorLogo {
            grid-area: header;
        }
            .contenedorLogo .logo {
            font-style: normal;
            font-size: 60px;
            color: #000000;
            margin-bottom: 5%;
            }
                .contenedorLogo .sub {
                font-family: 'Roboto', sans-serif;
                font-size: 15px;
                font-style: italic;
                text-align: center; 
                margin-top: 13px;
            }
    }
        
    main{
        .mainWrap{
            grid-template-columns: auto;
        }
    }

/*main*/
main{
    grid-area: main;
    .mainWrap{
        display: grid;
        width: 100%;
    }
        .tituloMain1{
            padding-bottom: 10%;
            align-self: center;
        }
            .tituloMain2{
                text-align: center;
                font-size: 30px;
                margin-bottom: 5px;
            }
                .subrayado{
                    width: 60px;
                    height: 2px;
                    margin: 0 auto;
                    background-color: #c2a661;
                }
                    .imageWrap{
                        padding-top: 0;
                    }
                        .mainImage{
                            width: 300px;
                            height: 230px;
                        }
                            .descripcionWrap{
                                display: grid;
                                height: 80%;
                                justify-items: center;
                            }
                                .descripcionTexto{
                                    font-style: italic;
                                    font-size: 13px;
                                }
        }
    
}

/* tablet */

@media screen and (max-width: 750px) and (min-width: 600px){
body{
    background-color: $color-principal;
}
    .grid{
        display: grid;
        grid-template-areas:
                            "nav"
                            "header"
                            "main"
                            "footer";
        grid-template-columns: 100%;
        grid-template-rows: 15% 15% 60% 15%;
        height: 100vh;
    }


header{
    display: grid;
    grid-area: header;
    .contenedorLogo {
        grid-area: header;
      }
        .contenedorLogo .logo {
          font-style: normal;
          font-size: 120px;
          color: #000000;
          }
            .contenedorLogo .sub {
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            font-style: italic;
            text-align: center; 
            margin-top: 13px;
          }
  }
/*main*/
main{
    grid-area: main;
    .mainWrap{
        display: grid;
        width: 100%;
    }
        .tituloMain1{
            padding-bottom: 10%;
            align-self: center;
        }
            .tituloMain2{
                text-align: center;
                font-size: 30px;
                margin-bottom: 5px;
            }
                .subrayado{
                    width: 60px;
                    height: 2px;
                    margin: 0 auto;
                    background-color: #c2a661;
                }
                    .imageWrap{
                        padding-top: 10%;
                    }
                        .mainImage{
                            width: 480px;
                            height: 300px;
                        }
                            .descripcionWrap{
                                display: grid;
                                height: 80%;
                                justify-items: center;
                            }
                                .descripcionTexto{
                                    font-style: italic;
                                    font-size: 13px;
                                }
        }

}