footer{
  .footerHome {
    display: flex;
    justify-content: center;
    grid-area: footer; }
    .footerHome .redesIconos {
      display: flex;
      padding: 25px;
      margin-top: 8px;
      justify-content: center;
      justify-content: space-around; }
        .footerHome .redesIconos a {
        background: #181815;
        border-radius: 50%;
        text-decoration: none;
        font-size: 28px;
        color: white;
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 58px;
        cursor: pointer;
        transition: 0.5s all; }
            .footerHome .redesIconos a:hover {
            transform: scale(1.2); }
                .footerHome .copyright {
                text-align: center;
                margin: 5px; }
}
