header{
.contenedorLogo {
    grid-area: header;
    padding: 1px; }
    .contenedorLogo .logo {
      text-align: center;
      font-family: 'Roboto', sans-serif;
      font-size: 220px;
      color: #000000; }
        .contenedorLogo .sub {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-style: italic;
        text-align: center; }
}
