header{
  display: grid;
  grid-area: header;
  width: 100%;
  .contenedorLogo {
      grid-area: header;
      display: flex;
      padding: 2px;
    }
      .contenedorLogo .logo {
        text-align: center;
        font-style: normal;
        font-size: 140px;
        color: #000000;
        }
          .contenedorLogo .sub {
          font-family: 'Roboto', sans-serif;
          font-size: 15px;
          font-style: italic;
          text-align: center; 
          margin-top: 13px;
        }
}
