.gridProductos{
    display: grid;
    grid-template-areas:
                        "nav nav"
                        "header header"
                        "main main"
                        "footer footer";
    grid-template-columns: 100%;
    grid-template-rows: 15% 30% 80% 26%;
    height: 100vh;
}
header{
    display: grid;
    grid-area: header;
    width: 100%;
    .contenedorProductos {
        grid-area: header;
      }
        .contenedorProductos .logoProductos {
          font-style: normal;
          font-size: 100px;
          color: #000000;
          }
            .contenedorProductos .sub {
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            font-style: italic;
            text-align: center; 
            margin-top: 13px;
          }
  }
  

/*
body{
    background-color: $color-principal;
}
    .grid{
        display: grid;
        grid-template-areas:
                            "nav nav"
                            "header header"
                            "main main"
                            "footer footer";
        grid-template-columns: 100%;
        grid-template-rows: 15% 30% 80% 25%;
        height: 100vh;
    }


nav{
    display: grid;
    grid-area: nav;
    background-color: #f5f0e2;
    height: 80px;
    }
        .navContainer{
            display: flex;
            height: 100%;
            width: 80%;
            margin: 0 auto;
            justify-content: space-around;
            align-items: center;
        }
            .navMenu{
                display: grid;
                grid-auto-flow: column;
                gap: 15em;
                list-style: none;
                }
                .navItem{
                    font-family: Roboto, sans-serif;
                    text-decoration: none;
                    color: black;
                }
                    .navLabel, .navInput{
                        display: none;
                    }
    
header{
    width: 68vh;
    .contenedorProductos {
        grid-area: header;
        padding: 1px; 
    }
        .contenedorProductos .logoProductos {
          text-align: center;
          font-family: serif;
          font-size: 150px;
          color: #000000; 
          }
    }

main{
    .container{ 
        width: 100%;
        padding: 15%;
    }
}

*/