$navPages: (
    color-navPages: #000000,
    bg-navPages: #f5f0e2,
);

ul li a{
    color: map-get($map: $navPages, $key: color-navPages);
}
.navBar{
    background-color: map-get($map: $navPages, $key:bg-navPages);
}

/* media queries */

$breakpoints: (
    
    sm : 340px,
    md : 768px,
    lg : 1024px,
);