/* mixin */ 

@mixin descripcionTexto {
    text-align: center;
    padding-bottom: 5px;
}

.descripcionTexto{
    @include descripcionTexto;
}

/* media queries */

@mixin media-up ($breakpoint){
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

header{
    @include media-up(lg){
        width: 100%;
    }
}

main{
    @include media-up(lg){
        grid-template-columns: 85% 100%;
    }
}

